.main-column {
  float: left;
  width: 60%;
}

.left-side-column {
    float: left;
    width: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

dd {
    margin-left: 40px;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

label {
    font-weight: bold;
    color: #4CAF50;
}

form {
    margin-top: 20px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    width: 100%;
    padding: 16px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.botton-print {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    width: 100%;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    display: block;
}
